@keyframes textWhiteLine {
	0% {
		transform: scaleY(1);
	}
	20% {
		transform: scaleY(0.05);
	}
	30% {
		transform: scaleY(0.05);
		background: white;
	}
	70% {
		transform: scaleY(0.05) scaleX(10);
		background: white;
	}
	// 99% {
	// 	transform: scaleY(100) scaleX(10);
	// 	background: white;
	// }
	100% {
		transform: scaleY(100) scaleX(10);
		background: white;
	}
	// 100% {
	// 	color: transparent;
	// 	background: transparent;
	// }
}
.offText {
	animation: textWhiteLine 1.5s linear forwards;
}
