@import "tailwindcss";

@theme {
  --color-brand-50: var(--color-emerald-50);
  --color-brand-100: var(--color-emerald-100);
  --color-brand-200: var(--color-emerald-200);
  --color-brand-300: var(--color-emerald-300);
  --color-brand-400: var(--color-emerald-400);
  --color-brand-500: var(--color-emerald-500);
  --color-brand-600: var(--color-emerald-600);
  --color-brand-700: var(--color-emerald-700);
  --color-brand-800: var(--color-emerald-800);
  --color-brand-900: var(--color-emerald-900);
  --color-brand-950: var(--color-emerald-950);


  --color-error-50: var(--color-rose-50);
  --color-error-100: var(--color-rose-100);
  --color-error-200: var(--color-rose-200);
  --color-error-300: var(--color-rose-300);
  --color-error-400: var(--color-rose-400);
  --color-error-500: var(--color-rose-500);
  --color-error-600: var(--color-rose-600);
  --color-error-700: var(--color-rose-700);
  --color-error-800: var(--color-rose-800);
  --color-error-900: var(--color-rose-900);
  --color-error-950: var(--color-rose-950);



  --color-warning-50: var(--color-amber-50);
  --color-warning-100: var(--color-amber-100);
  --color-warning-200: var(--color-amber-200);
  --color-warning-300: var(--color-amber-300);
  --color-warning-400: var(--color-amber-400);
  --color-warning-500: var(--color-amber-500);
  --color-warning-600: var(--color-amber-600);
  --color-warning-700: var(--color-amber-700);
  --color-warning-800: var(--color-amber-800);
  --color-warning-900: var(--color-amber-900);
  --color-warning-950: var(--color-amber-950);



  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);
  --color-success-950: var(--color-green-950);


  --color-border-50: var(--color-slate-50);
  --color-border-100: var(--color-slate-100);
  --color-border-200: var(--color-slate-200);
  --color-border-300: var(--color-slate-300);
  --color-border-400: var(--color-slate-400);
  --color-border-500: var(--color-slate-500);
  --color-border-600: var(--color-slate-600);
  --color-border-700: var(--color-slate-700);
  --color-border-800: var(--color-slate-800);
  --color-border-900: var(--color-slate-900);
  --color-border-950: var(--color-slate-950);



  --color-background-50: oklch(97.38% 0.007 277.3);
  --color-background-100: oklch(94.94% 0.012 271.34);
  --color-background-200: oklch(90.49% 0.024 272.83);
  --color-background-300: oklch(81.12% 0.049 272.37);
  --color-background-400: oklch(71.66% 0.076 269.1);
  --color-background-500: oklch(62.28% 0.102 266.07);
  --color-background-600: oklch(40.7% 0.065 263.46);
  --color-background-700: oklch(31.05% 0.05 263.44);
  --color-background-800: oklch(20.99% 0.034 263.44);
  --color-background-900: oklch(16.44% 0.027 263.05);
  --color-background-950: oklch(12.96% 0.022 264.6);

  --color-background-light: var(--color-background-200);
  --color-background-dark: var(--color-background-800);

  --shadow-bulge-light: 6px 6px 12px var(--color-background-100), -6px -6px 12px var(--color-background-300);
  --shadow-bulge-dark: 6px 6px 12px var(--color-background-950), -6px -6px 12px var(--color-background-600);
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
